$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    font-size: 10px;
    color:#424242;
}

h1{
    font-size: 40px;
    color: #616161;
}
